{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
  {% if table_data %}
    <div class="container nexus-table">
        <div class="rounded title py-1 my-2">
            <h1>{{ table_title }}</h1>
            {% if table_subtitle %}<h2>{{ table_subtitle }}</h2>{% endif %}
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                {% for column in table_data.columns %}
                  <th>{{ column }}</th>
                {% endfor %}
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for index, row in table_data.iterrows() %}
                <tr>
                  {% for cell in row %}
                    <td>{{ cell }}</td>
                  {% endfor %}
                  <td class="action">
                    <a href="{{ url_for('users.add_coach', uid=row['id']) }}">
                      <i class="fas fa-lock-open"></i>
                    </a>
                    <a href="{{ url_for('users.remove_coach', uid=row['id']) }}">
                      <i class="fas fa-ban"></i>
                    </a>
                    <a href="{{ url_for('users.edit', uid=row['id']) }}">
                      <i class="fas fa-edit"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  {% endif %}
{% endblock %}
