{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
  {% if table_data %}
    <div class="container-fluid nexus-table">
        <div class="rounded title py-1 my-2">
            <h1>{{ table_title }}</h1>
            {% if table_subtitle %}<h2>{{ table_subtitle }}</h2>{% endif %}
        </div>
        {% if g.user and g.user['admin'] in g.admin_levels and to_csv %}
          <div class="d-flex flex-row-reverse">
            <a class="btn btn-primary btn-table" 
            href="{{ url_for('users.show_all', export_to_csv=True) }}">Download</a>
          </div>
        {% endif %}
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                {% for column in table_data[['Name', 'Membership Name']].columns %}
                  <th>{{ column }}</th>
                {% endfor %}
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for index, row in table_data.iterrows() %}
                <tr>
                  {% for cell in row[['Name', 'Membership Name']] %}
                    <td>{{ cell }}</td>
                  {% endfor %}
                  <a class="inner-table-btn" href="{{ url_for('users.edit', uid=row['id']) }}"></a>
                  <td class="inner-table-btn" onclick='window.location.assign("{{ url_for('users.edit', uid=row['id']) }}");'>
                    
                      <i class="fas fa-edit"></i>
                  </td>
                  <a class="inner-table-btn" href="{{ url_for('users.edit', uid=row['id']) }}"></a>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  {% endif %}
{% endblock %}
