ansible/group_vars/
ansible/ansible.cfg
ansible/inventory.yaml

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/
.idea/
sumup_api/

.venv/
venv/
dist/
build/
*.egg-info/
launch
docker
Dockerfile
validate.sh
run.sh.old

launch.json