beautifulsoup4==4.10.0
bs4==0.0.1
cffi==1.15.0
click==8.0.4
cryptography==36.0.1
Flask==2.0.3
itsdangerous==2.1.0
Jinja2==3.0.3
lipsum==0.1.2
lxml==4.8.0
MarkupSafe==2.1.0
mysql-connector-python==8.0.28
nexusbjj==1.0.0
numpy==1.22.2
pandas==1.4.1
protobuf==3.19.4
pycparser==2.21
PyJWT==2.4.0
python-dateutil==2.8.2
pytz==2021.3
six==1.16.0
soupsieve==2.3.1
uWSGI==2.0.20
Werkzeug==2.0.3
