html, body {
  margin: 0;
  height: 100%;
}

/* Flexbox wrapper for base page */
.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
  background: url(bear.png) no-repeat center center fixed;
  background-size: contain;
}

/* Navbar */
section.navbar {
  flex: 0 1 auto;
  z-index: 1;
}
.bear-logo {
  width: 40px;
}
.bear-logo:hover {
  background-color: inherit;
}
nav {
  color: #222;
  background: white;
}
nav a, nav span {
  color: #222;
}
nav a:hover, nav span:hover {
  background: #ca2017;
  color: white;
}

/* Flash messages on base template */
.flash {
  margin: 4rem 1rem 2rem 1rem;
  border-radius: 1em;
  padding: 1rem;
  background: #222;
  box-shadow: 0em 5px 5px 0em #222;
  color: white;
}
.flash > p:last-child {
  margin-bottom: 0;
}

/* Standard table format */
.content table {
  box-shadow: 0em 5px 5px 0em #222;
  border: 2px solid #222;
}
table, th, td {
  border-collapse: collapse;
  text-align: center;
}
th, td {
  padding: 0.25em 1em;
}
tr.collapsible-3 {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
}
th.row-toggle {
  padding-right: 1rem;
  color: #ca2017 !important;
  pointer-events: none;
}
td.row-toggle {
  padding-right: 1rem;
  font-weight: bold;
  cursor: pointer;
}
td.expanded-3 {
  display: grid;
  grid-column: 1 / -1;
  background-color: #222 !important;
  color: white;
}
td.hide-row {
  display: none;
}
td:last-child {
  border-right: none;
}
td.action a {
  text-decoration: none;
}
td i.fa-lock-open {
  color: green;
}
td i.fa-ban {
  color: red;
}
th {
  background: #ca2017 !important;
  color: white !important;
}
tr:nth-child(even) {
  background: white
}
tr:nth-child(odd) {
  background: lightgrey;
}
tr:hover {
  background: lightcoral;
}
td {
  color: #222;
}
.nexus-table > .title {
  color: white;
  background-color: #222;
  text-align: center;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.1em black;
}

/* DataFrame tables */
.dataframe tbody > tr > th {
  border-right: 1px solid #222;
  background: #ca2017 !important;
}
.dataframe th {
  background: #333 !important;
  color: white !important;
}

/* Download button */
.btn-table {
  border-top-left-radius: 0.5em !important;
  border-top-right-radius: 0.5em !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top: 0.1em solid #222;
  border-left: 0.1em solid #222;
  border-right: 0.1em solid #222;
}
/* Standard form format */
form {
  padding: 3%;
}
.form-wrapper {
  background: lightgrey;
  border: 1px solid #222;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.25em 0.1em #222;
}
.form-wrapper hr {
  margin: 0;
}
.form-group {
  width: 100%;
  padding: 0.5em 0;
}
.form-group-title {
  text-align: center;
  margin: 0;
  color: #222;
}
.form-item input[type="submit"] {
  background-color: #ca2017;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5em 0;
}
.form-item.centred-link {
  display: flex;
  padding: 0.5em 0;
}
.link-button {
  background-color: #42b72a !important;
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
}
.link-button:hover {
  background-color: #36a420 !important;
  color: white;
}
.form-item a {
  text-decoration: none;
  text-align: center;
}
.form-item a.danger {
  background-color: red;
}
.form-item label {
  font-weight: bold;
  margin: 0.3rem 0;
}
.danger {
  background-color: red;
}

/* Classes */
.bjj-classes-outer-wrapper {
  padding: 1% 3%;
}
.bjj-classes-mid-wrapper{
    background-color: lightgrey;
    border: 1px solid #222;
    border-radius: 1em;
    padding-top: 1%;
    box-shadow: 0.1em 0.1em 0.25em 0.25em #222;
    color: #222;
    text-align: center;
}

div.bjj-classes-inner-wrapper {
  overflow-y: auto;
  padding: 1rem 1rem;
  border-radius: 1em;
  background-color: lightgrey;
}
.bjj-class {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background-color: #ca2017;
}
.bjj-class.checked-in {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: grey;
}
.bjj-class:hover {
    background-color: #222;
    color: white;
}
/* Helpers */
.do-not-wrap {
  white-space: nowrap;
}