html, body {
  margin: 0;
  height: 100%;
}

/* Flexbox wrapper for base page */
.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
  background: url(bear.png) no-repeat center center fixed;
  background-size: contain;
}

/* Navbar */
section.navbar {
  flex: 0 1 auto;
  z-index: 1;
}
.bear-logo {
  width: 40px;
}
.bear-logo:hover {
  background-color: inherit;
}
nav {
  color: #222;
  background: white;
}
nav a, nav span {
  color: #222;
}
nav a:hover, nav span:hover {
  background: #ca2017;
  color: white;
}

/* Flash messages on base template */
.flash {
  margin: 4rem 1rem -2rem 1rem;
  padding: 1rem;
  background: #222;
  box-shadow: 0em 5px 5px 0em #222;
  color: white;
}

/* Standard table format */
.content table {
  margin: 4rem 2.5%;
  width: 95%;
  table-layout: fixed;
  overflow-wrap: break-word;
  box-shadow: 0em 5px 5px 0em #222;
  border: 2px solid #222;
}
table, th, td {
  border-collapse: collapse;
  text-align: center;
}
th, td {
  padding: 0.25em 1em;
}
td:last-child {
  border-right: none;
}
td.action a {
  text-decoration: none;
}
td i.fa-lock-open {
  color: green;
}
td i.fa-ban {
  color: red;
}
th {
  background: #ca2017;
  color: white;
}
tr:nth-child(even) {
  background: white
}
tr:nth-child(odd) {
  background: lightgrey;
}
tr:hover {
  background: lightcoral;
}
td {
  color: #222;
}

/* Standard form format */
form {
  padding: 3%;
}
.form-wrapper {
  background: lightgrey;
  border: 1px solid #222;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.25em 0.1em #222;
}
.form-group {
  width: 100%;
  padding: 0.5em 0;
}
.form-group-title {
  text-align: center;
  margin: 0;
  color: #222;
}
.form-item input[type="submit"], .form-item a {
  background-color: #ca2017;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5em 0;
}
.form-item a {
  text-decoration: none;
  text-align: center;
}
.form-item a.danger {
  background-color: red;
}
.form-item label {
  font-weight: bold;
  margin: 0.3rem 0;
}
.danger {
  background-color: red;
}
::before, ::after {
  box-sizing: border-box;
}

/* Results layout */
div.results {
    background-color: darkgray;
    padding: 1rem;
    margin: 0 10%;
    color: white;
    overflow-x: auto;
}
div.results > h2 {
    text-align: center;
}

/* Classes */
.bjj-classes {
    display: block;
    margin: 4rem 10% 0rem 10%;
    padding: 1rem 1rem;
    background-color: lightgrey;
    border: 1px solid #222;
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em 0.25em 0.25em #222;
    color: #222;
    text-align: center;
}
div.bjj-classes-container {
  display: block;
  overflow-y: auto;
  margin: 4rem 10% 1rem 10%;
  padding: 1rem 1rem;
  background-color: lightgrey;
}
.bjj-class {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background-color: #ca2017;
}
.bjj-class.checked-in {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: grey;
  pointer-events: none;
}
.bjj-class:hover {
    background-color: #222;
    color: white;
}
/* Helpers */
.do-not-wrap {
  white-space: nowrap;
}