{% block navigation %}
<nav>
  <div class="menu">
    <a href="{{ url_for('index')}}"><i class="fas fa-home"></i></a>
    {% if g.user %}
    <a href="{{ url_for('members.check_in_to_class') }}">Check In</a>
    {% endif %}
    {% if g.user and g.user['admin'] != 'no' %}
    <div class="dropdown">
      <span>Classes</span>
      <div class="dropdown-content">
        <a href="{{ url_for('members.show_classes') }}">Show Classes</a>
        <a href="{{ url_for('members.add_class') }}">Add Class</a>
      </div>
    </div>
    <div class="dropdown">
      <span>Reports</span>
      <div class="dropdown-content">
        <a href="{{ url_for('reports.headcount') }}">Headcount</a>
        <a href="{{ url_for('reports.attendance_today') }}">Attendance - Today</a>
        <a href="{{ url_for('reports.attendance_yesterday') }}">Attendance - Yesterday</a>
        <a href="{{ url_for('reports.attendance_last_week') }}">Attendance - Last Week</a>
        <a href="{{ url_for('reports.attendance_last_month') }}">Attendance - Last Month</a>
        <a href="{{ url_for('reports.attendance_custom') }}">Attendance - Custom</a>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="auth">
    {% if g.user and g.user['admin'] in g.admin_levels %}
    <div class="dropdown">
      <a href="{{ url_for('users.show_all') }}">Admin</a>
      <div class="dropdown-content">
        <a href="{{ url_for('users.show_all') }}">Users</a>
      </div>
    </div>
    {% endif %}
    {% if g.user %}
      <div class="dropdown">
        <span>{{ g.user['first_name'] + ' ' + g.user['last_name'] }}</span>
        <div class="dropdown-content align-right">
          <a href="{{ url_for('users.change_password', uid=g.user['id']) }}">Change Password</a>
        </div>
      </div>
      <a href="{{ url_for('auth.logout') }}">Logout</a>
    {% else %}
      <a href="{{ url_for('auth.register') }}">Register</a>
      <a href="{{ url_for('auth.login') }}">Login</a>
    {% endif %}
  </div>
</nav>
{% endblock %}
