{% block navigation %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark container-fluid">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://warwickjudo.com">
      <img class="bear-logo rounded-pill" src="{{ url_for('static', filename='bear.png') }}">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav me-auto">
        {% if g.user %}
          <li class="nav-item">
            <a class="nav-link rounded" href="{{ url_for('classes.check_in_to_class') }}">Check In</a>
          </li>
        {% endif %}
        {% if g.user and g.user['admin'] != 'no' %}
          <li class="nav-item dropdown">
            <a class="nav-link rounded dropdown-toggle" data-bs-toggle="dropdown" href="#">Classes</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('classes.show_classes') }}">Show Classes</a></li>
              <li><a class="dropdown-item" href="{{ url_for('classes.add_class') }}">Add Class</a></li>
              
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link rounded dropdown-toggle" data-bs-toggle="dropdown" href="#">Reports</a>
            <ul class="dropdown-menu">
              <a class="dropdown-item" href="{{ url_for('reports.headcount') }}">Headcount</a>
              <a class="dropdown-item" href="{{ url_for('reports.attendance_today') }}">Attendance - Today</a>
              <a class="dropdown-item" href="{{ url_for('reports.attendance_yesterday') }}">Attendance - Yesterday</a>
              <a class="dropdown-item" href="{{ url_for('reports.attendance_last_week') }}">Attendance - Last Week</a>
              <a class="dropdown-item" href="{{ url_for('reports.attendance_last_month') }}">Attendance - Last Month</a>
              <a class="dropdown-item" href="{{ url_for('reports.attendance_custom') }}">Attendance - Custom</a>
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link rounded" href="{{ url_for('classes.show_classes') }}">Timetable</a>
          </li>
        {% endif %}
        </ul>
        <ul class="navbar-nav ms-auto">
        {% if g.user and g.user['admin'] in g.admin_levels %}
          <li class="nav-item dropdown">
            <a class="nav-link rounded dropdown-toggle" data-bs-toggle="dropdown" href="{{ url_for('users.show_all') }}">Admin</a>
            <ul class="dropdown-menu">
              <a class="dropdown-item" href="{{ url_for('users.show_all') }}">Users</a>
            </ul>
          </li>
        {% endif %}
        {% if g.user %}
          <li class="nav-item dropdown">
            <a class="nav-link rounded dropdown-toggle" data-bs-toggle="dropdown" href="#">{{ g.user['first_name'] + ' ' + g.user['last_name'] }}</a>
            <ul class="dropdown-menu align-right">
              <a class="dropdown-item" href="{{ url_for('users.change_password', uid=g.user['id']) }}">Change Password</a>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link rounded" href="{{ url_for('auth.logout') }}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link rounded" href="{{ url_for('auth.register') }}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link rounded" href="{{ url_for('auth.login') }}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
