{% if table_data or table_html or add_func %}
  <div class="container nexus-table">
    <div class="rounded title py-1 my-2">
        <h1>{{ table_title }}</h1>
        {% if table_subtitle %}<h2>{{ table_subtitle }}</h2>{% endif %}
    </div>
    {% if g.user and g.user['admin'] in g.admin_levels and to_csv %}
      <div class="d-flex flex-row-reverse">
        <a class="btn btn-primary btn-table" 
         href="{{ url_for('reports.csv', report=report, start_date=start_date, end_date=end_date) }}">Download</a>
      </div>
    {% elif g.user and add_func %}
      <div class="d-flex flex-row-reverse">
        <a class="btn btn-primary btn-table" href="{{ url_for(add_func) }}">+</a>
      </div>
    {% endif %}
    {% if table_data %}
      <div class="table-responsive">
        {% block table %}
        <table class="table">
          <thead>
            {% block table_head %}
            <tr>
              {% if show_index %}
                <th>{{ table_data.index.name }}</th>
              {% endif %}
              {% for column in table_data.columns %}
                <th>{{ column }}</th>
              {% endfor %}
              {% block extra_table_column_headers %}{% endblock %}
            </tr>
            {% endblock %}
          </thead>
          <tbody>
            {% block table_body %}
            {% for index, row in table_data.iterrows() %}
              <tr>
                {% if show_index %}
                  <td>{{ index }}</td>
                {% endif %}
                {% for cell in row %}
                  <td>{{ cell }}</td>
                {% endfor %}
                {% block extra_table_column_cells %}{% endblock %}
              </tr>
            {% endfor %}
            {% endblock %}
          </tbody>
        </table>
        {% endblock %}
      </div>
    {% elif table_html %}
      <div class="table-responsive">
        {{ table_html | safe }}
      </div>
    {% endif %}
  </div>
{% endif %}