{% extends "base.html" %}
{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='scripts/custom001.js')}}"></script>
{% endblock %}
{% block title %}Check In{% endblock %}
{% block content %}
  <div class="bjj-classes-outer-wrapper container">
  {% if user_classes %}
    <div class="bjj-classes-mid-wrapper">
      <div class="title">
        <h2>Classes</h2>
        <p>Check into or out of the classes below</p>
      </div>
      <div class="bjj-classes-inner-wrapper">
        <a class="bjj-class {% if all_classes_attended %}checked-in{% endif %}" id="class-all"
         href="#class-all" onclick="checkIn('all')">
          <h2>All Classes</h2>
          <p>Check in to all classes listed below</p>
        </a>
      </div>
      {% if user_classes.__len__() > 1 %}
      <div class="d-flex flex-row-reverse">
        <a class="btn btn-primary btn-collapse" href="#" onclick="expand('.collapse-container > a', '.collapse-container > div')">
          Expand All
        </a>
        <a class="btn btn-primary btn-collapse" href="#" onclick="collapse('.collapse-container > a', '.collapse-container > div')">
          Collapse All
        </a>
      </div>
      {% endif %}
      <div class="collapse-container">
        {% for user_class in user_classes if ((user_class['index'] == 0 and adult_sessions) or user_class['index'] > 0) %}
          {% if user_classes.__len__() > 1 or user_class.child_id %}
            <a class="bjj-class-toggle" data-bs-toggle="collapse" onclick="toggleAngle(this)" 
             aria-expanded="{% if user_classes.__len__() == 1 %}true{% else %}false{% endif %}" 
             href="#classes-for-user-{{ user_class.index }}">
            <span>{{ user_class.name }}</span>
            <i class="fas {% if user_classes.__len__() == 1 %}fa-chevron-down{% else %}fa-chevron-right{% endif %}"></i> 
            </a>
          {% endif %}
          
          <div class="bjj-classes-inner-wrapper collapse {% if user_classes.__len__() == 1 %}show{% endif %}" 
          id="classes-for-user-{{ user_class.index }}">
            {% for index, bjj_class in user_class.classes.iterrows() %}
              <a class="bjj-class {% if bjj_class.attendance %}checked-in{% endif %}" id="class-{{ bjj_class.id }}"
               href="#class-{{ bjj_class.id }}"
              {% if user_class.child_id %}
               onclick="checkIn('{{ bjj_class.id }}', '{{ user_class.child_id }}')"
              {% else %}
               onclick="checkIn('{{ bjj_class.id }}')"
              {% endif %}
              >
                <h2>{{ bjj_class.class_name }} {% if bjj_class.attendance %}(Checked In){% endif %}</h2>
                <p>{{ bjj_class.class_time }} - {{ bjj_class.end_time }}</p>
              </a>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  </div>
{% endblock %}
